# Node modules
node_modules/
npm-debug.log*

# Tests
tests/
coverage/
*.test.js
jest.config.js

# Git
.git/
.gitignore
.github/
.gitattributes

# Node 
node_modeles/
npm-debug.log*
package-lock.json

# Documentation
README.md
docs/
*.md

# Assets 
assets/
*.pdf

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# CI/CD
.github/
Jenkinsfile
.jenkins/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Logs
*.log


# Temp files
*.tmp
*.temp

# Environment
.env
.env.local
