# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
#package-lock.json
.npm

# Testing
coverage/
.nyc_output/
*.lcov

# Environments
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# Logs
logs/
*.log

# Docker
docker-compose.override.yml

# Temporary files
*.tmp
.cache/

# AWS CLI installation files
aws/
awscliv2.zip
bucket-policy.json
